.sectionWrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: calc(100dvh - var(--header-height));
    height: calc(100dvh);
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.buttonWrapper {
    position: absolute;
    bottom: var(--content-padding-x-mobile);
    right: var(--content-padding-x-mobile);
}

@media (min-width: 768px) {
    .buttonWrapper {
        bottom: var(--content-padding-x);
        right: var(--content-padding-x);
    }
}

.image {
    object-fit: cover;
}

.section {
    width: 100%;
    padding-block: var(--spacing-md);
    padding-inline: var(--content-padding-x-mobile);
}

@media (min-width: 768px) {
    .section {
        padding-inline: var(--content-padding-x);
    }
}

.outer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

@media (min-width: 768px) {
    .outer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-section);
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--spacing-sm);
    column-gap: var(--spacing-xs);
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        gap: var(--spacing-md);
    }
}

.grid > div {
    border-top: 1px solid var(--color-border);
    padding-top: var(--spacing-sm);
}

@media (min-width: 768px) {
    .grid > div {
        border-top: none;
        border-left: 1px solid var(--color-border);
        padding-top: 0;
        padding-left: var(--spacing-md);
    }
}

.value {
    font-size: var(--text-small);
    line-height: var(--line-height-small);
    color: var(--color-text-primary);
}

.object {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 768px) {
    .object {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.italic {
    font-style: italic;
}
